title {
   background-color: rgb(0, 179, 179);
}

contents {
   background-color: rgb(250, 250, 250)
}

* {
   font-family: Roboto, Helvetica, sans-serif;
}

h1 {
   font-size: 16px;
   color: rgb(68, 68, 68);
}

.container {
   text-align: center;
   margin: 5px;
   font-size: 13px;
}



.offer {
   display: inline-block;
   width: 400px;
   margin: 4px;
   text-align: center;
   border: 1px;
   border-color: #cccccc;
}

.offer-contents {
   background-color: rgb(250, 250, 250);
   padding: 20px;
}



h2 {
   font-size: 14px;
   background-color: #00b3b3;
   margin: 0px;
   padding: 15px;
}

div .offer-contents {
   padding: 20px;
   background-color: #fafafa;
}

table {
   width: 100%;
   background-color: #ffffff;
   border-spacing: 0px;
}

th {
   font-size: 12px;
   font-weight: 700;
   color: rgb(119, 119, 119);
   padding: 10px;
   text-align: left;
}
td{
   padding: 20px 10px;
   color: rgb(68,68,68);
   text-align: left;
   font-weight: 300;
}
.final-value{
   font-weight: bold;
   color: rgb(34, 34, 255);
}