body{
    margin: 0px;
    padding: 0px;
    background-color: forestgreen;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2{
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: antiquewhite;
}
a{
    color:antiquewhite;
    text-decoration: underline;    
}
a:hover{
    color:white;
    text-decoration: underline; 
}
img{
    border:2% solid white;
    padding: 2%;
}
.leftimg{
    float: left;
}
div.banner{
    background-color: darkcyan;
    border: 5px solid antiquewhite;
    
    display:flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    
}