body{
    margin: 0px 0px 10px 0px;
    padding: 0px;
    background-color: rgb(0, 34, 92);
    font-family: 'Times New Roman', Times, serif;
}

h1, h2{
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: antiquewhite;
}

a{
    color:antiquewhite;
    text-decoration: underline;    
}

a:hover{
    color:white;
    text-decoration: underline; 
}

div{
    background-color: darkgray;
}

img{
    border:2% solid white;
}

.leftimg{
    float: left;
    padding: 10px 20px;
}

div.banner{
    background-color: darkcyan;
    border: 5px solid antiquewhite;
    
    display:flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    
}
a.banner{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}